*{
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    margin: 100px 0 20px 0;
}

.input-numero{
    width: 100%;
    height: 250px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column ;
}

.div-botoes{
    width: 100%;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

button{
    width: 150px;
    padding: 15px;
    font-size: 1.1rem;
    gap: 20px;

    cursor: pointer;
}

label{
    font-size: 2rem;
    font-weight: bold;
}

input{
    width: 300px;
    height: 50px;

    font-size: 2rem ;
    padding: 10px;

}