*{
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(82, 82, 192);
}

h1{
    text-align: center;
    margin: 100px 0 20px 0;
    font-size: 3rem;
}

.input-numero{
    width: 100%;
    height: 250px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column ;
}

.div-botoes{
    width: 100%;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

button{
    width: 170px;
    padding: 15px;
    font-size: 1.3rem;
    gap: 20px;

    cursor: pointer;
}

.botao-confirmar{
    background-color: green;
    border: 0.5px solid rgb(34, 51, 30);
}

.botao-ver-numero{
    background-color: gray;
    border: 0.5px solid rgb(59, 56, 56);
}

label{
    font-size: 2rem;
    font-weight: bold;
}

input{
    width: 300px;
    height: 50px;

    font-size: 2rem ;
    padding: 10px;

}