*{
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
}

main{
 height: 100vh;

}

h1{
    text-align: center;
    margin: 100px 0 20px 0;
    font-size: 3rem;
}

.input-numero{
    width: 100%;
    height: 250px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column ;
}

.div-botoes{
    width: 100%;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

button{
    width: 200px;
    padding: 15px;
    font-size: 1.3rem;
    gap: 20px;

    cursor: pointer;
}

.botao-confirmar{
    background-color: green;
    border: 0.5px solid rgb(34, 51, 30);
    color: #ffffff;
}

.botao-ver-numero{
    background-color: gray;
    border: 0.5px solid rgb(59, 56, 56);
}

label{
    font-size: 2rem;
    font-weight: bold;
}

input{
    width: 300px;
    height: 50px;

    font-size: 2rem ;
    padding: 10px;

}

.pop-up{
    opacity: 0;
    transition: opacity 1s ease-in-out;

    width: 50%;
    height: 60px;
    background-color: #ffffff;
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 15px;

    top: 85%;
    left: 25%;
    
    
}

.pop-up-ativado{
    opacity: 1;
}

.erro-pop-up{
    border: 2px solid red;
}

.acerto-pop-up{
    border: 2px solid green;
}

.div-chances{
    width: 25%;
    height: 100px;

    margin: 0 0 0 75%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.div-chances .numero-tentativas{
    width: 50px;
    height: 50px;

    border-radius: 25px;
    border: 2px solid green;
}